body {
  font-family: sans-serif;
  font-size: 2em;
}

hr {
  width: 100%;
  border: 1px solid #aaa;
}
.start-new-game {
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  width: 100vw;
  background: rgba(100, 30, 30, 0.2);
  padding-bottom: 100px;
}
.start-new-game input.name-input {
  height: 2.1em;
  font-size: 2em;
  padding-left: 1em;
}

.question {
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  width: 100vw;
  background: rgba(30, 100, 30, 0.2);
  padding-bottom: 100px;
}

.question table td {
  padding: 10px;
  border: 1px solid #999;
}

.flex-no-padding {
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  width: 100vw;
  background: rgba(30, 100, 30, 0.2);
}

.players {
  display: flex;
  align-items: center;
  justify-content: center;
}

.player {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.player img {
  width: 100px;
  border-radius: 50%;
  border: 5px dashed red;
}

.player.big img {
  width: 400px;
}

.player.answered img {
  border: 5px solid green;
}

.player .timediff {
  font-size: 0.75em;
  font-style: italic;
}

button.big-button {
  text-transform: none;
  overflow: visible;
  -webkit-appearance: button;

  font-size: 2em;
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;

  color: #212529;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
}


.answer-option {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid grey;
  margin: 10px;
  height: 150px;
  width: 150px;
}

table.gamer-options td {
  cursor: pointer;
}

table.gamer-options td:hover {
  background: rgba(30, 100, 30, 0.3);
}

/* 8888888888888888888888888888888888888888888888 */
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
